@import "../../common/colors.scss";
.movie-list,.show-list {
  margin: 20px 0px;
  h2 {
    color: $font-secondary;
    font-weight: 400;
    margin-bottom: 10px;
  }
}
.movei-container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  grid-gap: 20px;
}